.App {
  text-align: center;
}
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #3D3D3D;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Noto Sans';
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #3D3D3D;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target] {
  background-color: #3D3D3D;
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-size: 0.875rem;
}

.App-header {
  background-color: #3D3D3D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
